@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = MedUA.Resources.Resource.ErrorViewTitle;
}

<h1 class="text-danger">@MedUA.Resources.Resource.ErrorViewErrorOccurs</h1>
<h2 class="text-danger">@MedUA.Resources.Resource.ErrorViewErrorOccursMessage</h2>

