@using System.Web.Mvc.Html
@using MedUA.Models

@model EntryHistoryViewModelList
@{
    ViewBag.Title = MedUA.Resources.Resource.PatientHistoryFormTitle;
    ViewBag.Links = ViewBag.Links ?? new List<MvcHtmlString>();
    ViewBag.Links.AddRange(new[]
{
        Ajax.ActionLink(MedUA.Resources.Resource.PatientHistoryFormMyEntries, "PatientHistoryCurrentDoctor", new { patientId = Model.PatientId }, new AjaxOptions { UpdateTargetId = "patients-id", HttpMethod = "POST", OnSuccess = "ChangePatientHistory();" }, new { style = "display:none", @class = "patient-history-link" }),
        Ajax.ActionLink(MedUA.Resources.Resource.PatientHistoryFormAllEntries, "PatientHistory", new { patientId = Model.PatientId }, new AjaxOptions { UpdateTargetId = "patients-id", HttpMethod = "POST", OnSuccess = "ChangePatientHistory();" }, new { @class = "patient-history-link" }),
        new MvcHtmlString("<a onclick='ShowAddSection();'>" + @MedUA.Resources.Resource.PatientHistoryFormAddEntry + "</a>")
    });
}

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<div id="patients-id">
    @{ Html.RenderPartial("PatientHistoryPartial", Model.List);}
</div>
<div class="add-section-form">
    <div class="add-section" style="display:none">
        @{ Html.RenderPartial("NewEntryPartial", new EntryHistoryViewModel() { TimeStampDateTime = DateTime.Now, PatientId = Model.PatientId }, new ViewDataDictionary() { { "ResearchesList", Model.ResearchList } }); }
    </div>
</div>
<script>
    function ChangePatientHistory() {
        debugger;
        $('.patient-history-link').toggle();
    }
    function HideAddSection() {
        debugger;
        $('.add-section').hide();
    }
    function ShowAddSection() {
        debugger;
        $('.add-section').show();
        document.getElementById('add').scrollIntoView();
    }
</script>
