@{
    ViewBag.Title = MedUA.Resources.Resource.ForgotPasswordConfirmationTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @Html.Raw(ViewBag.Message)
    </p>
</div>
	
