@{
    ViewBag.Title = MedUA.Resources.Resource.ResetPasswordConfirmationTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @Html.Raw(string.Format(MedUA.Resources.Resource.ResetPasswordConfirmationMessageStringFormat, @Html.ActionLink(MedUA.Resources.Resource.ResetPasswordConfirmationLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).ToHtmlString()))
    </p>
</div>
